section {
    padding: 15px 0;
}
#hero {
    width: 100%;
    height: 20vh;
    font-size: 90px;
}
#whyUs {
    width: 40%;
}
#callToAction {
    width: 60%;
}

@media (max-width: 800px) {
    #whyUs {
        width: 100%;
    }
   #callToAction{
        width: 100%;
   } 
}