/* 
font-family: 'Philosopher', sans-serif;
font-family: 'Croissant One', cursive;

font-family: 'K2D', sans-serif;
font-family: 'Raleway', sans-serif; */
/*  */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
.center-text{
    text-align: center;
}
.center{
    justify-content: center;
    align-content: center;
}
.hidden{
    display: none;
}
header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4;
}
ul{
    margin: 10px;
}
   









/* 
footer {
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 100vw;
    background-color: var(--primary-color);
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* a:link {
 text-decoration: none;
 color: var(--green);
}
a:visited{
    color: var(--green);
}
a:hover, a:focus {
 text-decoration: underline;
 font-size: 25px;
}
a:active{
    font-size: 30px;
}
a:link:hover::after,
a:link:focus::after {
  content: attr(data-description);
  position: absolute;
  text-align: center;
  right: 50%;
  min-width: 200px;
  padding: 5px;
  background-color: rgb(127, 159, 79);
  color: white;
  font-size: 20px;
  z-index: 1;
}
a:hover:visited::after,
a:focus:visited::after {
  color: white;
} */
/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    padding: 90px;
} */
/* :root {
    --green: #245C03;
    --primary-color: #FFEB5A;
    --h1_font: 'Philosopher', sans-serif;
    --h2_font: 'Croissant One', cursive;
    --body_font: 'K2D', sans-serif; 
}*/
