:root{
    --mdc-theme-primary: #FFEB5A;
    --mdc-theme--on-primary: #245C03;
    --mdc-theme-secondary: #245C03;


    --green: #245C03;
    --primary-color: #FFEB5A;

    --h1_font: 'Philosopher', sans-serif;
    --h2_font: 'Croissant One', cursive;
    --body_font: 'K2D', sans-serif;

}

* {
    font-family: var(--body_font);
}
main{
    background-color: var(--mdc-theme--on-primary);
    height: 100vh;
    margin: 0 auto;
    padding: 60px 30px 0px 30px;
}

h1 { 
    font-size: 60px;
    margin: 20px;
    color:  white;
    font-family: var(--h1_font);
    text-align: right;
}
h2{
    font-size: 30px;
    color: var(--primary-color);
    font-family: var(--h2_font);
}
nav a{
    color: var(--mdc-theme--on-primary) !important;
    margin: 50px;
}
a:link {
    text-decoration: none;
    color: var(--mdc-theme--on-primary);
   }
   a:visited{
       color: var(--mdc-theme--on-primary);
   }
   a:hover, a:focus {
    text-decoration: underline;
    font-size: 25px;
   }
   a:active{
       font-size: 30px;
   }
   a:link:hover::after,
   a:link:focus::after {
     content: attr(data-description);
     position: absolute;
     text-align: center;
     right: 50%;
     min-width: 200px;
     padding: 5px;
     background-color: rgb(127, 159, 79);
     color: white;
     font-size: 20px;
     z-index: 1;
   }
   a:hover:visited::after,
   a:focus:visited::after {
     color: white;
   }

footer{
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme--on-primary);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 65px;
    text-align: center;
}

#copyright {
    margin: 30px;
    font-size: 10px;
}

#menu {
    grid-column: 5;
    grid-row: 2;
}

@media (max-width: 701px){
    .disappearing {
        display: none;
    }
    .mobileFeature {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    footer{
        position: unset;
    }
}
@media (min-width: 700px){
    .mobileFeature {
        display: none;
    }
}