section{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

li{ 
    display: inline;
    padding: 10px;
}
.my-card {
    height: 350px;
    width: 600px;
    color: green;
}

#dealersCards{

}

#playersCards{

}

#playersActions{
    height: auto;
    width: 700px;
    color: green;
    padding: 10px;
    margin: 25px;
}
button{
    padding: 10px;
    margin: 10px;
    background-color: green;
}