/* row-start | colum-start | row-end | column-end*/
main {
    display: grid;
    grid-template: 1fr 2fr 1fr/ repeat(3, 1fr);
    text-align: center;
}

.heading-container{
    grid-area: 1/1/1/4;
    text-align: center;
    justify-content: center;
}
.in-play-section {
    grid-area: 2/1/2/4;
    display: grid;
    grid-template: 1fr/ repeat(3, 1fr);
}

#dealer{
    grid-area: 1/3;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

#user ol, #dealer ol{
    grid-area: 2;
    position: relative;
    /* display: flex; */
    top: 3pc;
    font-size: 18px;
}

ol li{
    padding: 10px;
    /* height: 60px;
    width: 100px; */
    margin: 6px;
    padding:10px;
    word-wrap: break-word;
    position: relative;
    border-radius: 6px;
    border: 2px solid;
}
ol li:hover::after{
    content: attr(data-blackjack-value);
    position: relative;
    background-color: white;
    color: blue;;
    box-sizing: border-box;
    padding: 10px;
    border-radius:10%;
    left:10px;
}

#player-actions{
    /* grid-area: 3/1/3/4; */
    grid-area: 2/2/3/2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 25px;
}
#player-actions div {
    grid-area: 1/2;
}
button{
    box-sizing: border-box;
    background-color:  rgb(140, 200, 140);
    border: 2px hidden none;
    border-radius: 5%;
    color: yellow;
    width: 150px;
    padding: 10px;
    margin: 10px;
    font-size: large;
}
button:hover::after{
    content: attr(data-user-hints);
    position:fixed;
    left: 43%;
    top:67vh;
    background-color: yellow;
    color: green;
    box-sizing: border-box;
    width: 180px;
    height: auto;
    padding: 20px;
    border-radius: 5%;
    border: 2px solid beige;
}
button:active::before {
    color: green;
}


